.lista-livros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.card-livro {
    width: 160px; /* Largura padrão dos cards */
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.capa-livro {
    width: 100%;
    height: 230px; /* Altura padrão para as capas */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    border-radius: 4px;
    margin-bottom: 10px;
}

.card-livro h3 {
    font-size: 0.9rem;
    margin: 5px 0;
    color: #333;
}

.card-livro p {
    font-size: 0.8rem;
    color: #666;
}